@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap");

:root {
  --black: #000000;
  --gray: #333333;
  --yellow: #b88e2f;
  --gray1: #3a3a3a;
  --gray2: #616161;
  --gray3: #9f9f9f;
  --white-secondary: #fcf8f3;
  --white-primary: #ffffff;
  --yellow2: #fff3e3;
  --border: #d9d9d9;
}


.nav_container {
  width: 100%;
  min-height: 100px;
  background-color: var(--white-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 29px 100px 30px 54px;
}

.nav__logo {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  flex-shrink: 0;
}

.nav__menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 75px;
}

.nav__menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
}

.nav__icons {
  display: flex;
  align-items: center;
  gap: 45px;
  flex-shrink: 0;
}

.nav__icons img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.nav__mobile_btn {
  display: none;
  width: 30px;
  height: 24px;
  border: none;
  background: transparent;
  flex-direction: column;
  justify-content: space-between;
}

.nav__mobile_btn span {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--black);
}
